server:
  port: 8181

#TODO: поменять порт на 8081

spring:
  application:
    name: security-service

  datasource:
    url: jdbc:postgresql://localhost:5432/users_auth
    username: postgres
    password: p@sSw0rD
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
    show-sql: true

eureka:
  instance:
    prefer-ip-address: true
    hostname: localhost
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka

jwt:
  secret: c2VjcmV0LWtleS1mb3ItYnJzbS1wcm9qZWN0LWRpcGxvbQ==
  expiration: 3600000