server:
  port: 8184

#TODO: поменять порт на 8084

spring:
  application:
    name: document-service

  datasource:
    url: jdbc:postgresql://localhost:5432/documents
    username: postgres
    password: p@sSw0rD
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
    show-sql: true

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka